.box {
    height: 100%;
    border: solid green;
}

.column {
    width: 25%;
}

.column4 {
    width: 75%;
}

.row {
  height: 3;
}

.half_height {
  height: 50%;
}

.full_height {
  height: 100%;
}

